:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-gold-active: #9a826189;
    --basic-white: #ffffff;
    --font-family-R: 'Roboto', sans-serif;
    --font-family-F: 'Forum', sans-serif;
    --font-size-xxl: 80px;
    --font-size-l: 28px;
    --font-size-xl: 32px;
    --font-size-m: 22px;
    --font-size-s: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-text {
    font-family: var(--font-family-R);
    font-size: var(--font-size-m);
    color: var(--basic-white);
    font-weight: 200;
}

.header {
    /* width: 1920px; */
    background-color: var(--bg-dark);
}

.navbar {
    margin-left: 240px;
    margin-right: 240px;
    height: 150px;
    font-family: var(--font-family-F);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark);
    /* padding: 10px 20px; */
}

/* Left side (Home link) */
.navbar-left .home-link {
    display: flex;
    align-items: center;
    color: var(--basic-white);
    text-decoration: none;
    font-size: 28px;
}

.logo {
    height: 26px;
    margin-right: 10px;
}

/* Right side (Nav links) */
.navbar-right {
    display: flex;
    width: 775px;
    justify-content: space-between;
    align-items: center;
}

.navbar-right a {
    font-weight: 100;
    font-size: 22px;
    font-family: var(--font-family-R);
    color: var(--basic-white);
    text-decoration: none;
    margin-left: 20px;
    padding: 8px;
    transition: background-color 0.3s;


}

.navbar-right a:hover {
    color: var(--font-gold);
}

.navbar-right a.active {
    color: var(--font-gold-active);
}

.main-section1 {
    height: 842px;
    background-color: var(--bg-dark);
}