:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-gold-active: #9a826189;
    --basic-white: #ffffff;
    --font-family-R: 'Roboto', sans-serif;
    --font-family-F: 'Forum', sans-serif;
    --font-size-xxl: 80px;
    --font-size-l: 28px;
    --font-size-xl: 32px;
    --font-size-m: 22px;
    --font-size-s: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-text {
    font-family: var(--font-family-R);
    font-size: var(--font-size-m);
    color: var(--basic-white);
    font-weight: 200;
}

.header {
    /* width: 1920px; */
    background-color: var(--bg-dark);
}

.navbar {
    margin-left: 240px;
    margin-right: 240px;
    height: 150px;
    font-family: var(--font-family-F);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark);
    /* padding: 10px 20px; */
}

/* Left side (Home link) */
.navbar-left .home-link {
    display: flex;
    align-items: center;
    color: var(--basic-white);
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
}

.logo {
    height: 26px;
    margin-right: 10px;
}

/* Right side (Nav links) */
.navbar-right {
    display: flex;
    width: 775px;
    justify-content: space-between;
    align-items: center;
}

.navbar-right a {
    font-weight: 100;
    font-size: 22px;
    font-family: var(--font-family-R);
    color: var(--basic-white);
    text-decoration: none;
    margin-left: 20px;
    padding: 8px;
    transition: background-color 0.3s;


}

.navbar-right a:hover {
    color: var(--font-gold);
}

.navbar-right a.active {
    color: var(--font-gold-active);
}
/* --------------Section 1----------------- */

.section1-content {
    background-color: var(--bg-dark);
    width: 100%;
    height: 842px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    position: relative;
    overflow: hidden;
}

.content-left {
    max-width: 700px;
    position: relative;
    z-index: 3;
    margin-right: -100px; /* Allows heading to hover into image */
     background: linear-gradient(to right, var(--bg-dark), transparent 70%);
}

.content-left h2 {
    font-family: var(--font-family-F);
    font-size: var(--font-size-xxl);
    color: var(--basic-white);
    margin-bottom: 20px;
}

.content-left p {
    font-family: var(--font-family-R);
    font-size: var(--font-size-l);
    color: var(--basic-white);
    margin-bottom: 40px;
}

.explore-button {
    background-color: var(--dark-red);
    color: var(--basic-white);
    font-family: var(--font-family-R);
    font-size: var(--font-size-m);
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.mona-lisa {
    position: relative;
    height: 100%;
    flex-shrink: 0;
    display: inline-block;
}

.mona-lisa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
     background: linear-gradient(to right, var(--bg-dark), transparent 70%);

    z-index: 1;
    border-radius: inherit; 
}

.mona-img {
    height: 750px;
    width: auto;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
    box-shadow: -20px 0 30px -10px rgba(0, 0, 0, 0.5);
}


.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-dark), transparent 70%);
    z-index: 2;
    pointer-events: none;
}



/* ---------------------------section 2----------------- */
.main-section2 {
    height: 1266px;
    /* background-color: var(--dark-red); */
}




.main-section3 {
    height: 865px;
    background-color: var(--bg-dark);
}

.main-section4 {
    height: 1396px;
    /* background-color: var(--dark-red); */
}

.main-section5 {
    height: 2200px;
    background-color: var(--bg-dark);
}

.main-section6 {
    height: 2255px;
    /* background-color: var(--dark-red); */
}

.footer {
    height: 392px;
    background-color: var(--bg-dark);
    color: var(--basic-white);
    font-family: var(--font-family-R);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
