:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-gold-active: #9a826189;
    --basic-white: #ffffff;
    --font-family-R: 'Roboto', sans-serif;
    --font-family-F: 'Forum', sans-serif;
    --font-size-xxl: 80px;
    --font-size-l: 28px;
    --font-size-xl: 32px;
    --font-size-m: 22px;
    --font-size-s: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.main-text {
    font-family: var(--font-family-R);
    font-size: var(--font-size-m);
    color: var(--basic-white);
    font-weight: 200;
}

.header {
    /* width: 1920px; */
    background-color: var(--bg-dark);
}

.navbar {
    margin-left: 240px;
    margin-right: 240px;
    height: 150px;
    font-family: var(--font-family-F);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark);
    /* padding: 10px 20px; */
}

/* Left side (Home link) */
.navbar-left .home-link {
    display: flex;
    align-items: center;
    color: var(--basic-white);
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
}

.logo {
    height: 26px;
    margin-right: 10px;
}

/* Right side (Nav links) */
.navbar-right {
    display: flex;
    width: 775px;
    justify-content: space-between;
    align-items: center;
}

.navbar-right a {
    font-weight: 100;
    font-size: 22px;
    font-family: var(--font-family-R);
    color: var(--basic-white);
    text-decoration: none;
    margin-left: 20px;
    padding: 8px;
    transition: background-color 0.3s;


}

.navbar-right a:hover {
    color: var(--font-gold);
}

.navbar-right a.active {
    color: var(--font-gold-active);
}

/* --------------Section 1----------------- */

.section1-content {
    background-color: var(--bg-dark);
    width: 100%;
    height: 842px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 240px;
    position: relative;
    overflow: hidden;
}

.content-left {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    position: relative;
    z-index: 3;
    margin-right: -100px;
    /* Allows heading to hover into image */
    background: linear-gradient(to right, var(--bg-dark), transparent 70%);
}

.content-left h1 {
    font-family: var(--font-family-F);
    font-size: var(--font-size-xxl);
    color: var(--basic-white);
    margin-bottom: 20px;
}

.content-left p {
    font-family: var(--font-family-R);
    font-size: var(--font-size-l);
    color: var(--basic-white);
    margin-bottom: 40px;
}

.explore-button {
    height: 75px;
    width: 360px;
    background-color: var(--dark-red);
    color: var(--basic-white);
    font-family: var(--font-family-R);
    font-size: var(--font-size-m);
    background-color: var(--dark-red);
    border: none;
    color: var(--basic-white);
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;

}

.explore-button:hover {
    background-color: var(--font-gold);
    transition: background-color 0.3s, color 0.3s;
}



.mona-lisa {
    position: relative;
    height: 100%;
    flex-shrink: 0;
    display: inline-block;
}

.mona-lisa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, var(--bg-dark), transparent 70%);

    z-index: 1;
    border-radius: inherit;
}

.mona-img {
    height: 750px;
    width: auto;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
    box-shadow: -20px 0 30px -10px rgba(0, 0, 0, 0.5);
}


.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-dark), transparent 70%);
    z-index: 2;
    pointer-events: none;
}



/* ---------------------------section 2----------------- */
.main-section2 {
    height: 1266px;
    /* background-color: var(--dark-red); */
}

.h-part {
    margin-left: 240px;
    margin-right: 240px;
    border-bottom: var(--dark-red) 3px solid;
    display: flex;
    justify-content: flex-start;
}
.h-part h2 {
    font-family: var(--font-family-F);
    font-size: var(--font-size-xxl);
    color: var(--font-gold);
    margin-top: 75px;
    margin-bottom: 25px;
    font-weight: 200;
    letter-spacing: 5px;
}

.VT-gallery{
    padding-top: 75px;
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.VT-item {
    width: 33.33%;
    height: 424px;
    /* margin-right: 10px; */
    box-sizing: border-box;
    margin-bottom: 75px;
}

.VT-item h3 {
    margin-top: 25px;
    letter-spacing: 5px;
}
.VT-item h3 a {
    font-family: var(--font-family-F);
    font-size: var(--font-size-xl);
    color: var(--bg-dark);
    font-weight: 200;
    text-decoration: none;
}
.VT-item h3 a:hover {
    color: var(--font-gold);
    transition: color 0.3s;
}

.VT-item .description {
    width: 300px;
    margin-top: 10px;
    border-top: var(--dark-red) 2px solid;
}

.VT-gallery .description .d1{
    font-family: var(--font-family-R);
    font-size: var(--font-size-m);
    font-weight: 100;
    color: var(--bg-dark);
    margin-top: 10px;
}

.VT-gallery .description .d2{
    font-family: var(--font-family-R);
    font-size: var(--font-size-s);
    font-weight: 100;
    color: var(--bg-dark);
    margin-top: 10px;
}

/* -------------------section 3-----------------  */

.main-section3 {
    height: 865px;
    background-color: var(--bg-dark);
    color: var(--basic-white);
}

.s3-content{
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.s3-left {
    margin-top: 75px;
    margin-right: 60px;
    width: 660px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.s3-content h2 {
    font-family: var(--font-family-F);
    font-size: var(--font-size-xxl);
    color: var(--basic-white);
    margin-bottom: 25px;
    font-weight: 200;
    letter-spacing: 5px;
}

.s3-paragraph {
    width: 660px;
    border-top: var(--dark-red) 3px solid;
    font-family: var(--font-family-R);
    font-size: var(--font-size-m);
    padding-top: 50px;
    line-height: 38.5px;


}
.s3-paragraph p {
    font-weight: 100;
    margin-top: 25px;
}

.s3-paragraph p span {
    color: var(--font-gold);
}

.s3-right{
    margin-top: 75px;
}


/* ----------------------section 4----------------- */
.main-section4 {
    height: 1396px;
    /* background-color: var(--dark-red); */
}

.s4-content {
    margin-left: 240px;
    margin-right: 240px;
}

.s4-header{
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 75px;
}
.s4-header h2{
    font-family: var(--font-family-F);
    font-size: var(--font-size-xxl);
    color: var(--font-gold);
    font-weight: 200;
    letter-spacing: 5px;
    width: 50%;
    justify-content: flex-start;
    margin-right: 115px;
}

.s4-header p {
    width: 40%;
    font-family: var(--font-family-R);
    font-size: var(--font-size-s);
    color: var(--bg-dark);
    font-weight: 100;
    line-height: 38.5px;
}

.s4-video {
    border-radius: 10px;
    margin-top: 50px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

.video-scroller {
      margin-top: 20px;
      white-space: nowrap;
      display: flex;
      justify-content: center;

    }

    .video-thumb {
        
      display: inline-block;
      margin-right: 42px;
      width: 452px;
      height: 254px;
      background-color: #ccc;
      text-align: center;
      line-height: 120px;
      font-size: 14px;
      color: #333;
      text-decoration: none;

    }

    .video-thumb img {
      width: 100%;
      height: auto;
      display: block;
    }

    .video-thumb:hover {
      opacity: 0.8;
    }

/* -------------------section 5 -----------------  */

.main-section5 {
    height: 2200px;
    background-color: var(--bg-dark);
}

.main-section6 {
    height: 2255px;
    /* background-color: var(--dark-red); */
}

.footer {
    height: 392px;
    background-color: var(--bg-dark);
    color: var(--basic-white);
    font-family: var(--font-family-R);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}